<%- include("partials/header") %>

<h2><%= title %></h2>

<ul>
  <% if (categories && categories.length > 0) { %>
    <% categories.forEach(category => { %>
      <li><%= category.name %></li>
    <% }) %>
  <% } else { %>
    <li>No categories found in the database.</li>
  <% } %>
</ul>

<%- include("partials/footer") %>
