<%- include("partials/header") %>

<h2><%= title %></h2>

<p>Welcome to the Service Learning Site.</p>

<img src="/images/home.jpg" alt="Service Learning" class="main-img">

<%- include("partials/footer") %>