<%- include("partials/header") %>

<h2><%= title %></h2>

<ul>
  <li>Red Cross</li>
  <li>UNICEF</li>
  <li>Habitat for Humanity</li>
</ul>

<div class="image-row">
  <img src="/images/redcross.jpg" alt="Red Cross">
  <img src="/images/unicef.jpg" alt="UNICEF">
  <img src="/images/habitat.jpg" alt="Habitat for Humanity">
</div>

<%- include("partials/footer") %>