<%- include("partials/header") %>

<h2><%= title %></h2>

<p>Here are a few of our partner organizations:</p>

<div class="org-list">

  <div class="org-card">
    <img src="/images/redcross.jpg" alt="Red Cross">
    <div>
      <h3>Red Cross</h3>
      <p>help@redcross.org</p>
    </div>
  </div>

  <div class="org-card">
    <img src="/images/unicef.jpg" alt="UNICEF">
    <div>
      <h3>UNICEF</h3>
      <p>contact@unicef.org</p>
    </div>
  </div>

  <div class="org-card">
    <img src="/images/habitat.jpg" alt="Habitat for Humanity">
    <div>
      <h3>Habitat for Humanity</h3>
      <p>info@habitat.org</p>
    </div>
  </div>

</div>

<%- include("partials/footer") %>